* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.w {
  width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.nav ul li {
  float: left;
}
